In [88]:
from statistics import random
# import statistics

rand_number = []

for i in range(100):
    r = random.randint(10,90)
    rand_number.append(r)
print('***',rand_number)

number_sum = 0

for i in rand_number:
    number_sum = number_sum+i
print("sum",number_sum)

number_svg = number_sum/ len(rand_number)
print("Avg",number_svg)
print("Mean", statistics.mean(rand_number))

*** [47, 62, 12, 68, 18, 36, 59, 90, 72, 31, 70, 48, 37, 86, 28, 40, 47, 37, 18, 31, 79, 28, 78, 84, 78, 79, 68, 29, 72, 88, 45, 45, 38, 89, 79, 23, 37, 23, 16, 53, 27, 81, 45, 56, 21, 62, 81, 90, 24, 90, 58, 78, 59, 23, 36, 33, 36, 53, 86, 88, 76, 78, 24, 51, 41, 78, 34, 53, 31, 79, 47, 60, 26, 10, 25, 28, 63, 82, 28, 76, 80, 62, 50, 72, 24, 34, 24, 14, 62, 34, 36, 59, 69, 65, 57, 25, 33, 79, 84, 89]
sum 5237
Avg 52.37
Mean 52.37

In [89]:
city = input("Enter Your City Name? ")

print("City ",city)
print("City ",city.lower())
print("City ",city.upper())
print("City ",city.capitalize())
print("City ",city.title())

Enter Your City Name? kArAChi
City  kArAChi
City  karachi
City  KARACHI
City  Karachi
City  Karachi

# Dictionary

In [90]:

my_info = {
    'name': 'rizwan',
    'father_name': 'hassan',
    'age': 24,
    'gender': 'male',
    'dob': '11 april 1997',
}
print('my_info',my_info)
# print("name",my_info[name])
# print("name",my_info['name'])
# print("name",my_info['gender'])
# del my_info['gender']
my_info['gender'] = 'female'
print('my_info',my_info)

my_info {'name': 'rizwan', 'father_name': 'hassan', 'age': 24, 'gender': 'male', 'dob': '11 april 1997'}
my_info {'name': 'rizwan', 'father_name': 'hassan', 'age': 24, 'gender': 'female', 'dob': '11 april 1997'}

In [94]:
#my_info
print(my_info)

# for key,value in my_info.items():
#     print('i',key,value)
# print("keys ",my_info.keys())
# print("Items ",my_info.items())
# print("values ",my_info.values())

for key,value in my_info.items():
    print(f'{key}: {value}')

{'name': 'rizwan', 'father_name': 'hassan', 'age': 24, 'gender': 'female', 'dob': '11 april 1997'}
name: rizwan
father_name: hassan
age: 24
gender: female
dob: 11 april 1997

In [ ]:
# # num = int(input("Enter Table No "))
# for i in range(10):
#     print(i, end=' ')
    
    
#     print(i, i,"*",num,"=",i*num)
# print("Check loop")
# print("After check")

In [3]:
for i in range(10):
    print(i, end=' ')
print("Check loop")
print("After check")

0 1 2 3 4 5 6 7 8 9 Check loop
After check

In [ ]:
#count String
#check vowels
#consonents
#palyndrome