In [3]:
all_students = [
    {
        "name":"rizwan",
        "age":"23",
        "batch":"3"
    },
    {
        "name":"haris",
        "age":"18",
        "batch":"2"
    }
]


for student in all_students:
    for l,m in student.items():
        print(f'{l},{m}')
    print('-' * 10)

name,rizwan
age,23
batch,3
----------
name,haris
age,18
batch,2
----------

In [4]:
all_students = [
    {
        "name":"rizwan",
        "age":"23",
        "batch":"3"
    },
    {
        "name":"haris",
        "age":"18",
        "batch":"2"
    }
]

all_students.append({
    'name': 'Shahid',
    'age':44,
    'Batch':2
})
for student in all_students:
    for l,m in student.items():
        print(f'{l},{m}')
    print('-' * 10)

name,rizwan
age,23
batch,3
----------
name,haris
age,18
batch,2
----------
name,Shahid
age,44
Batch,2
----------

In [8]:
employee = {
    'name':"rizwan",
    'car_no':"M-9087u99",
    'Dependents':['ahmed','haris','ali','faraz']
}

# print(Employee
print(employee['Dependents'])
for dep in employee['Dependents']:
    print(dep)

['ahmed', 'haris', 'ali', 'faraz']
ahmed
haris
ali
faraz

# Dictionary Contains In Dictionary

In [9]:
customers = [
    {
        "customer id": 0,
        "first name": "rizwan",
        "last name":"Ullah",
        "address": "abc 123",
    },
        {
        "customer id": 1,
        "first name": "haris",
        "last name":"khan",
        "address": "xyz 123",
    },
        {
        "customer id": 2,
        "first name": "imran",
        "last name":"jjjj",
        "address": "ijk 123",
    }
]

In [11]:
customer = None

for cust in customers:
    if cust['customer id'] == 3:
        customer = cust
        break
print(customer)

None

In [12]:
customer = None

for cust in customers:
    if cust['customer id'] == 0:
        customer = cust
        break
print(customer)

{'customer id': 0, 'first name': 'rizwan', 'last name': 'Ullah', 'address': 'abc 123'}

In [15]:
customers = {
    0:{
        "customer id": 0,
        "first name": "rizwan",
        "last name":"Ullah",
        "address": "abc 123",
    },
      1:  {
        "customer id": 1,
        "first name": "haris",
        "last name":"khan",
        "address": "xyz 123",
    },
      2:  {
        "customer id": 2,
        "first name": "imran",
        "last name":"jjjj",
        "address": "ijk 123",
    }
}

In [16]:
print(customers[2])

{'customer id': 2, 'first name': 'imran', 'last name': 'jjjj', 'address': 'ijk 123'}