In [5]:
city = ('Karachi','city of lights')
print('city',city)
city[0] = 'Islamabad'
print('city',city)

city ('Karachi', 'city of lights')

TypeError: 'tuple' object does not support item assignment

In [7]:
city = ('Islamabad', 'Capital of Pakistan')
print('city', city)
del city[0]
print('city',city)

city ('Islamabad', 'Capital of Pakistan')

TypeError: 'tuple' object doesn't support item deletion

In [8]:
print('hello world')

hello world

In [32]:
cities = ['Karachi','Lahore','Islamabad','Peshawar']
cities1 = ('Karachi','Lahore','Islamabad','Peshawar')

# print('City 1',cities[0])
# print('City 2',cities[1])
# print('City 3',cities[2])
# print('City 4',cities[3])

In [33]:
for i in cities1:
    print('city',i)

city Karachi
city Lahore
city Islamabad
city Peshawar

In [34]:
for i in range(4,20,3):#4 min 20 max 3 diff mean first 4 second 7
    print('city',i)

city 4
city 7
city 10
city 13
city 16
city 19

In [39]:
for i in range(1,4):#max greater hga thu index outof bond chala jyega
    print('city',cities[i])

city Lahore
city Islamabad
city Peshawar

In [41]:
for i in range(len(cities)):
    print('city',cities[i])

city Karachi
city Lahore
city Islamabad
city Peshawar

In [43]:

city_of_lights = 'Karachi'

for i in range(len(cities)):
    if city_of_lights == cities[i]:
    #print('city',cities[i])
        print('Cityof Lights Found')
    else:
        print('City Of Light Not Found')

Cityof Lights Found
City Of Light Not Found
City Of Light Not Found
City Of Light Not Found

In [45]:

city_of_lights = 'Karachi'

for i in range(len(cities)):
    if city_of_lights.upper() == cities[i].lower():
    #print('city',cities[i])
        print('Cityof Lights Found')
    else:
        print('City Of Light Not Found')

City Of Light Not Found
City Of Light Not Found
City Of Light Not Found
City Of Light Not Found

In [52]:
city_of_lights = 'Karachi'

for i in range(len(cities)):
    print('city',cities[i])
    if city_of_lights.title() == cities[i].title():
    #print('city',cities[i])
        print('Cityof Lights Found')
    else:
        print('City Of Light Not Found')

city Karachi
Cityof Lights Found
city Lahore
City Of Light Not Found
city Islamabad
City Of Light Not Found
city Peshawar
City Of Light Not Found

In [48]:
# title first character capital baqi small
# ye lower upper title only string per apply hoga

In [49]:
city_of_lights = 'Karachi'

for i in range(len(cities)):
    if city_of_lights.title() == cities[i].title():
    #print('city',cities[i])
        print('Cityof Lights Found')
        break
    else:
        print('City Of Light Not Found')

Cityof Lights Found

In [51]:
city_of_lights = 'Karachi'

for i in range(len(cities)):
    if city_of_lights.title() == cities[i].title():
    #print('city',cities[i])
        continue # is iteration ko skip kerdega
        print('Cityof Lights Found')
        #break
    else:
        print('City Of Light Not Found')

City Of Light Not Found
City Of Light Not Found
City Of Light Not Found

In [79]:
first_names = ["BlueRay ","Upchank ","Lojack ","Gizmo ","Do-Rag "]

last_names = ["Zzz",'Burp',"Dogbone","Droop"]

full_names = []

print('First name ',first_names)
print('last name ',last_names)

First name  ['BlueRay ', 'Upchank ', 'Lojack ', 'Gizmo ', 'Do-Rag ']
last name  ['Zzz', 'Burp', 'Dogbone', 'Droop']

In [80]:
for first_name in first_names:
   # print('First name',first_name)
    for last_name in last_names:
        full_names.append(first_name+last_name)
print('full names ', full_names )

full names  ['BlueRay Zzz', 'BlueRay Burp', 'BlueRay Dogbone', 'BlueRay Droop', 'Upchank Zzz', 'Upchank Burp', 'Upchank Dogbone', 'Upchank Droop', 'Lojack Zzz', 'Lojack Burp', 'Lojack Dogbone', 'Lojack Droop', 'Gizmo Zzz', 'Gizmo Burp', 'Gizmo Dogbone', 'Gizmo Droop', 'Do-Rag Zzz', 'Do-Rag Burp', 'Do-Rag Dogbone', 'Do-Rag Droop']

In [78]:
for i in range(len(first_names)):
    print('first' ,i,'',first_names[i])
    print('last ',i,'',last_names[i])
    full_names.append(first_names[i]+last_names[i])

first 0  BlueRay
last  0  Zzz
first 1  Upchank
last  1  Burp
first 2  Lojack
last  2  Dogbone
first 3  Gizmo
last  3  Droop
first 4  Do-Rag

IndexError: list index out of range

In [86]:
first_names = ["BlueRay ","Upchank ","Lojack ","Gizmo "]

last_names = ["Zzz",'Burp',"Dogbone","Droop"]

full_names = []

for i in range(len(first_names)):
    #print('first' ,i,'',first_names[i])
    #print('last ',i,'',last_names[i])
    full_names.append(first_names[i]+last_names[i])
    #print(full_names)
print(full_names)

['BlueRay Zzz', 'Upchank Burp', 'Lojack Dogbone', 'Gizmo Droop']

In [89]:
for i in range(2,20):
    print('2 *',i,' = ',i*2 )

2 * 2  =  4
2 * 3  =  6
2 * 4  =  8
2 * 5  =  10
2 * 6  =  12
2 * 7  =  14
2 * 8  =  16
2 * 9  =  18
2 * 10  =  20
2 * 11  =  22
2 * 12  =  24
2 * 13  =  26
2 * 14  =  28
2 * 15  =  30
2 * 16  =  32
2 * 17  =  34
2 * 18  =  36
2 * 19  =  38

In [99]:
tableinput = int(input("Enter Table Number "))
Enterrange = int(input("Enter Range "))
for i in range(tableinput,Enterrange):
    #print('2 *',i,' = ',i*2 )
    print(f" {tableinput} x {i} = {tableinput*i}")

Enter Table Number 3
Enter Range 10
 3 x 3 = 9
 3 x 4 = 12
 3 x 5 = 15
 3 x 6 = 18
 3 x 7 = 21
 3 x 8 = 24
 3 x 9 = 27

In [115]:
import random
minv = int(input("Enter min val "))
maxv = int(input("Enter Max val "))
total = []
#print(random.randint(10,90))
for i in range(minv,maxv):
    total.append(random.randint(minv,maxv))
print(total)

Enter min val 1
Enter Max val 100
[88, 1, 13, 49, 18, 100, 71, 36, 34, 96, 89, 67, 82, 19, 96, 67, 59, 32, 99, 33, 61, 3, 33, 81, 97, 95, 78, 38, 44, 23, 86, 54, 65, 84, 49, 95, 68, 79, 87, 11, 43, 73, 92, 40, 74, 14, 44, 52, 3, 26, 11, 97, 70, 58, 89, 55, 3, 4, 73, 84, 55, 33, 73, 83, 61, 38, 28, 5, 76, 63, 63, 97, 59, 59, 1, 31, 15, 71, 14, 14, 5, 16, 41, 78, 87, 95, 52, 61, 71, 68, 93, 53, 23, 96, 85, 21, 15, 56, 20]

In [121]:
lst = [1,2,3]
print(lst[0])
lst[0] = 10
print(lst[0])
lst.append(20)
print(lst)
print('No. of Elements in list are: ',len(lst))
lst.remove(2)
print(lst)
lst.pop() # pop last index delete kerdetha h
print(lst)

1
10
[10, 2, 3, 20]
No. of Elements in list are:  4
[10, 3, 20]
[10, 3]